@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.contentRow{
    display: flex;
    column-gap: 10px;
    justify-content: space-around;
}
button{
    border: none;
    cursor: pointer;
}
.reflectBox{
    width: 200px;
    height: 200px;
    background-color: rgb(9, 9, 44);
    display: flex;
    justify-content: center;

}
.reflectButton{
    width: 70%;
    height: 35%;
    margin-top: 10px;
    background-color: #03e9f4;
    transition: all 2s ease;
    box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4, 0 0 100px #03e9f4;
}
.reflectButton:hover{
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.reflectBox span{
    color: black;
    font-size: 20px;
    font-family: Rubik;
    letter-spacing: 5px;
}
.nav{
    height: 30px;
    width: 100px;
    background-color: rgb(9, 9, 44);
    display: flex;
    justify-content: center;
    align-items: center;

}
.navItem {
    position: relative; /* This ensures the ::before pseudo-element is positioned relative to the navItem */
    color: white;
    font-family: Rubik;
    font-size: 13px;
    cursor: pointer;
}

.navItem::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0); /* Initially hidden */
    transition: all 0.5s ease;
    bottom: 0;
    left: 0;
    transform-origin: left;
}

.navItem:hover::before {
    transform: scaleX(1.01); /* Expands on hover */
}

.colorsDisplay{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    width: 200px;
    height: 100px;
    position: relative;
    justify-content: space-between;
}

.colorScheme{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30%;
    height: 100%;
}
#c1{
    width: 100%;
    height: 50%;
    background-color: rgb(0% 46.358% 61.85%)
}
#c2{
    width: 100%;
    height: 50%;
    background-color: rgb(84.368% 93.61% 95.456%);
}
#c3{
    width: 100%;
    height: 50%;
    background-color: rgb(37.197% 36.438% 30.823%);
}
#c4{
    width: 100%;
    height: 50%;
    background-color: rgb(99.694% 97.791% 7.901%);
}
#c5{
    width: 100%;
    height: 50%;
    background-color: rgb(31.674% 1.1363% 15.256%);
}
#c6{
    width: 100%;
    height: 50%;
    background-color: rgb(94.739% 81.266% 69.405%);
}



.herosSelectBox{
    flex: 1;
    margin-top: 50px;
    margin-left: 30px;
    width: 90%;
    max-width: 1000px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    transition: all 300ms;
}
.heroCard{
    height: 100%;
    transition: all 300ms;
    cursor: pointer;
    width: 20%;
    border: none;
    border-radius: 10px;
}

.heroCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.heroCard:nth-child(odd){
    translate: 0 -20px;
}
.heroCard:nth-child(even){
    translate: 0 20px;
}
.herosSelectBox:hover >
.heroCard:not(:hover){
    filter: grayscale(100%);
}
.heroCard:hover{
    width: 30%;
}

.interactiveCard{
    width: 200px;
    aspect-ratio: 1/0.7;
    border-radius: 8px;
    position: absolute;
    cursor: pointer;
    margin-top: 60px;
}
.interactiveCard .carImageBox{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.interactiveCard .carImageBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
}
.interactiveCard::after{
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}
.interactiveCard:hover img{
    filter: grayscale(1) brightness(0.4);
}
.carImageBox:hover::after{
    opacity: 1;
    inset: 20px;
}
.textContent{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}